@model Category
@{
    ViewData["Title"] = "Add Category";
}

<div class="border my-3 p-3">
    <h2>Create New Category</h2>
    
    <form method="post">
        <div class="my-3">
            <label asp-for="Name"></label>
            <input class="form-control" asp-for="Name" />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
   
        <div class="my-4">
        <button class="btn btn-primary" type="submit">Add Category</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary">Back To List</a>
        </div>


    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
