@model Category
@{
    ViewData["Title"] = "Delete Category";
}


<div class="border my-3 p-3">
    <h2>Edit Category</h2>

    <form method="post" asp-action="Edit">
        <div class="my-3">
            <label asp-for="Name"></label>
            <input  class="form-control" asp-for="Name" />
        </div>

        <div class="my-4">
            <button class="btn btn-primary" type="submit">Update Category</button>
            <a asp-controller="Category" asp-action="Index" class="btn btn-secondary">Back To List</a>
        </div>


    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}


