@model PointOfSale.Models.ViewModels.DeliveryNoteVM
@{
    ViewData["Title"] = "Delivery Note Edit";
}

<div class="border my-3 p-3">

    <h2>Edit Invoice </h2>


    <table class="table table-striped">
        <tr>
            <th>Product</th>
            <th>Qty</th>

        </tr>

        @foreach (var item in Model.DeliveryNoteDetails)
        {

            <tr>
                <td>@item.Product.Name</td>
                <td>@item.Count</td>
               
            </tr>

        }
 

    </table>






    <form method="post" asp-action="EditPost">
        <div class="row">
            <input hidden asp-for="DeliveryNoteHeader.Id" />
           
            <div class="my-1 col-lg-4">
                <label asp-for="DeliveryNoteHeader.CreatedAt"></label>
                <input class="form-control" type="date" asp-for="DeliveryNoteHeader.CreatedAt" />
                <span class="required-warning" asp-validation-for="DeliveryNoteHeader.CreatedAt"></span>
            </div>
            @if (Model.DeliveryNoteHeader.RegularCustomerId != null)
            {
                <div class="my-1 col-lg-4">
                    <label asp-for="DeliveryNoteHeader.Name"></label>
                    <input class="form-control" disabled asp-for="DeliveryNoteHeader.Name" />
                    <span class="required-warning" asp-validation-for="DeliveryNoteHeader.Name"></span>
                </div>
            }
            else
            {
                <div class="my-1 col-lg-4">
                    <label asp-for="DeliveryNoteHeader.Name"></label>
                    <input class="form-control" asp-for="DeliveryNoteHeader.Name" />
                    <span class="required-warning" asp-validation-for="DeliveryNoteHeader.Name"></span>
                </div>
            }

            <div class="my-1 col-lg-4">
                <label asp-for="DeliveryNoteHeader.PhoneNumbar"></label>
                <input class="form-control" asp-for="DeliveryNoteHeader.PhoneNumbar" />
                <span class="required-warning" asp-validation-for="DeliveryNoteHeader.PhoneNumbar"></span>
            </div>
            <div class="my-1 col-lg-12">
                <label asp-for="DeliveryNoteHeader.Address"></label>
                <input class="form-control" asp-for="DeliveryNoteHeader.Address" />
                <span class="required-warning" asp-validation-for="DeliveryNoteHeader.Address"></span>
            </div>
        </div>


        <div class="my-4 col-lg-2">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>

    </form>
</div>