@{
    ViewData["Title"] = "Unit Of MeasureMent";
}

<div>
    <div class="row my-4">
        <div class="col-6"><h2>Unit Of Measurement List</h2></div>
        <div class="col-6 text-end"><a class="btn btn-primary" asp-controller="UnitOfMeasurement" asp-action="Upsert">Add New Measurement Unit</a></div>

    </div>
    <table class="table table-striped" id="tblData" style="width:100%">
        <thead>
            <tr>
                <th>Units</th>
                <th>Description</th>
                <td></td>
            </tr>
        </thead>

    </table>
</div>

@section Scripts{
    <script src="~/js/unitOfMeasurement.js"></script>
}
