@model UnitsOfMeasurement
@{
    ViewData["Title"] = "Unit Of Measurement";
}


<div class="border my-3 p-3">

    <h2>@(Model.Id != 0 ? "Edit Measurement Unit" : "Add New Measurement Unit") </h2>

    <form method="post" asp-action="Upsert">
        <input asp-for="Id" hidden />
        <div class="my-3">
            <label asp-for="Name"></label>
            <input class="form-control" asp-for="Name" />
            <span class="required-warning" asp-validation-for="Name"></span>
        </div>

        <div class="my-3">
            <label asp-for="Description"></label>
            <input  class="form-control" asp-for="Description" placeholder="Optional" />
        </div>



        <div class="my-4">
            @if (Model.Id != 0)
            {
                <button class="btn btn-primary" type="submit">Update</button>
            }
            else
            {
                <button class="btn btn-primary" type="submit">Add</button>
            }

            <a asp-controller="UnitOfMeasurement" asp-action="Index" class="btn btn-secondary">Back To List</a>
        </div>


    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}


