@page
@model ForgotPasswordConfirmation

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>Forgot password confirmation</title>
    <style>
        body{
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items: center;
            background-color: #1a2226;
            color: #fff;
            min-height: 100vh;
        }

        label{
            color: black
        }

        .confarmation-massage{
            font-size:3rem
        }
      
    </style>

</head>
<body>

<h1>@ViewData["Title"]</h1>
<p class="confarmation-massage">
    Please check your email to reset your password.
</p>



</body>
</html>