@{
    ViewData["Title"] = "Products";
}

<div>
    <div class="row my-4">
        <div class="col-6"><h2>Product List</h2></div>
        <div class="col-6 text-end"><a class="btn btn-primary" asp-controller="Product" asp-action="Upsert">Add New Product</a></div>

    </div>
    <table class="table table-striped" id="tblData" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Company</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <td></td>
            </tr>
        </thead>

    </table>
</div>

@section Scripts{
    <script src="~/js/product.js"></script>
}

